[run]
omit =
    */__init__.py
    tests/*

    utils/logging/FakeLogger.py
    utils/logging/BaseLogger.py

    environments/custom_envs/BanditEnvs/drift/DriftStrategy.py
    environments/custom_envs/BanditEnvs/reward/RewardStrategy.py

    environments/custom_envs/BanditEnvs/BaseBanditEnv.py

    algorithms/make_agent.py

    algorithms/bandits/implementations/BaseBanditAgent.py
    
    algorithms/bandits/implementations/exploration/ExplorationExploitationStrategy.py
    algorithms/bandits/implementations/action_value_update/ActionValueStrategy.py
    algorithms/bandits/implementations/action_value_initialization/ActionValueInitializationStrategy.py
    
    algorithms/bandits/run.py
    algorithms/bandits/run_reproducibility.py

    algorithms/bandits/utils/*


    
branch = True

[report]
show_missing = True
skip_covered = False